# globel config
global_config.py

# models, datasets and records from training
/pretrained_models/
/records/
/datasets/
/shortcut_annotations/

# pycache
**/__pycache__/


# hpc files
*.sh
*.err
*.out
*.ipynb